table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 300px;
  padding: 50px;
}

th, td {
  padding: 6px;
}

/* .note {
  margin-bottom: ;
} */

.note {
  margin-bottom: 15px;
}
textarea {
    width: 171px;
    height: 50px;
}